.git
.gradle
.idea
.settings
.metadata
bin
build
run
minecraft
eclipse
out
.classpath
.project
.apt_generated
.apt_generated_tests


*.sh
*.iml
*.ipr
*.iws
*.launch
.factorypath
*class

forge*changelog.txt
